/* Estilo para el campo de contraseña con el ícono dentro */
.field {
  position: relative;
}

.field input {
  width: 100%;
  padding-right: 40px; /* Espacio extra para el ícono a la derecha */
  border-radius: 15px;
  padding: 10px;
  border: 1px solid lightgrey;
  font-size: 17px;
  outline: none;
}

/* Estilo para centrar el ícono */
.toggle-password {
  position: absolute;
  right: 10px;  /* Distancia del borde derecho */
  top: 60%;
  transform: translateY(-50%); /* Para centrarlo verticalmente */
  cursor: pointer;
}

/* Ajustar el tamaño del ícono */
.toggle-password i {
  font-size: 1.2em;
  color: #333;
}
