@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Estilo centrado con fondo degradado vertical */
html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #003366, #004080, #0059b3, #0073e6);
}

.wrapper {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  max-width: 100%;
  width: auto;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.field {
  margin-top: 20px;
  width: 100%;
}

.field input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  font-size: 17px;
  outline: none;
}

.btn {
  margin-top: 20px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #003366; /* Fondo del botón */
}

.btn input {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  color: white; /* Texto blanco */
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #004080; /* Cambia el color del fondo del botón al pasar el mouse */
}


/* Cambio de contraseña */

.field input[type="password"] {
    /* Estilos personalizados para los campos de contraseña */
    background-color: #f9f9f9;  /* Por ejemplo, un fondo diferente */
  }


/* Mensaje de error */
.error-message {
    color: #ff4d4d; /* Color rojo para los errores */
    font-size: 14px;
    margin-top: 5px;
}

.error-message p {
    margin: 0; /* Asegura que no haya espacio extra entre mensajes */
}


