<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Trabajador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
            <div class="container-xl">
                <a class="navbar-brand" href="/home"><h4>Mineral Manager</h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-lg-auto">
                        <a class="nav-item nav-link" href="/home">Home</a>
                        <a class="nav-item nav-link active" href="/trabajadores">Trabajadores</a>
                        <a class="nav-item nav-link" href="/maquinaria">Maquinaria</a>
                        <a class="nav-item nav-link" href="/pañol">Pañol</a>
                        <a class="nav-item nav-link" href="/bodega">Bodega</a>
                        <a class="nav-item nav-link" href="/retiro">Retiro de Artículo</a>
                        <a class="nav-item nav-link" href="/articulobodega">Bodega a Pañol</a>
                        <a class="nav-item nav-link" href="/upload">Subir Archivo</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <h1>Agregar Trabajador</h1>
        <form method="POST" action="{% url 'add_trabajador' %}">
            {% csrf_token %}
            <h5 class="mt-3">Información Básica</h5>
            <div class="form-group">
                <label for="rut">RUT:</label>
                <input type="text" id="rut" name="rut" class="form-control" required pattern="\d+-\d" title="Ingrese el RUT sin puntos y con guion (ejemplo: 12345678-9)">
                <small class="text-danger">El RUT debe ingresarse sin puntos y con guion (ejemplo: 12345678-9).</small>
            </div>            
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre completo del trabajador" required>
            </div>
            <div class="mb-3">
                <label for="area" class="form-label">Área</label>
                <select class="form-select" id="area" name="area" required>
                    {% for area in areas %}
                    <option value="{{ area.id }}">{{ area.nombre_area }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="cargo" class="form-label">Cargo</label>
                <select class="form-select" id="cargo" name="cargo" required>
                    {% for cargo in cargos %}
                    <option value="{{ cargo.id }}">{{ cargo.nombre_cargo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="turno" class="form-label">Turno</label>
                <select class="form-select" id="turno" name="turno" required>
                    {% for turno in turnos %}
                    <option value="{{ turno.id }}">{{ turno.tipo_turno }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="jornada" class="form-label">Jornada</label>
                <select class="form-select" id="jornada" name="jornada" required>
                    {% for jornada in jornadas %}
                    <option value="{{ jornada.id }}">{{ jornada.tipo_jornada }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="horario" class="form-label">Horario</label>
                <select class="form-select" id="horario" name="horario" required>
                    {% for horario in horarios %}
                    <option value="{{ horario.id }}">{{ horario.ciclo }}</option>
                    {% endfor %}
                </select>
            </div>            
            <div class="mb-3">
                <label for="horas_esperadas" class="form-label">Horas Esperadas</label>
                <input type="number" class="form-control" id="horas_esperadas" name="horas_esperadas" value="40">
            </div>

            <h5 class="mt-3">Certificaciones</h5>
            <div id="certificaciones-container">
                <!-- Espacio para nuevas certificaciones -->
                <button type="button" class="btn btn-primary mt-3" onclick="agregarCertificacion()">Agregar Nueva Certificación</button>
            </div>
            <div id="nuevas-certificaciones"></div>

            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'gestion_trabajadores' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-success">Agregar Trabajador</button>
            </div>
        </form>
    </main>

    <script>
        let certCounter = 0;

        function agregarCertificacion() {
            certCounter++;
            const container = document.getElementById('nuevas-certificaciones');
            const certDiv = document.createElement('div');
            certDiv.classList.add('border', 'p-3', 'mb-3');
            certDiv.innerHTML = `
                <h6>Nueva Certificación</h6>
                <div class="mb-3">
                    <label for="nueva_certificacion_${certCounter}" class="form-label">Seleccionar Certificación</label>
                    <select class="form-select" id="nueva_certificacion_${certCounter}" name="certificacion_nueva_${certCounter}" onchange="toggleFechaFin(this, ${certCounter})" required>
                        {% for capacitacion in capacitaciones_disponibles %}
                        <option value="{{ capacitacion.id }}" data-renovable="{{ capacitacion.es_renovable|yesno:'true,false' }}">{{ capacitacion.nombre_capacitacion }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="fecha_inicio_nueva_${certCounter}" class="form-label">Fecha de Inicio</label>
                    <input type="date" class="form-control" id="fecha_inicio_nueva_${certCounter}" name="fecha_inicio_nueva_${certCounter}" required>
                </div>
                <div class="mb-3 fecha-fin-container" id="fecha_fin_container_${certCounter}">
                    <label for="fecha_fin_nueva_${certCounter}" class="form-label">Fecha de Fin</label>
                    <input type="date" class="form-control" id="fecha_fin_nueva_${certCounter}" name="fecha_fin_nueva_${certCounter}">
                </div>
            `;
            container.appendChild(certDiv);
        }

        function toggleFechaFin(selectElement, certCounter) {
            const isRenovable = selectElement.options[selectElement.selectedIndex].dataset.renovable === 'true';
            const fechaFinContainer = document.getElementById(`fecha_fin_container_${certCounter}`);
            if (isRenovable) {
                fechaFinContainer.style.display = 'block';
            } else {
                fechaFinContainer.style.display = 'none';
                document.getElementById(`fecha_fin_nueva_${certCounter}`).value = '';
            }
        }
    </script>
</body>
</html>
