<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Restablecida</title>
    {% load static %}
    <link href="{% static 'CSS/password_reset.css' %}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <h2>¡Contraseña restablecida!</h2>
        <p>Tu contraseña ha sido cambiada exitosamente.</p>
        <p>Ahora puedes <a href="{% url 'login_signup' %}">iniciar sesión</a> con tu nueva contraseña.</p>
    </div>
</body>
</html>
