<!doctype html>
<html lang="en">
    {% load static %}

    <head>
        <title>Correo Enviado</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="{% static 'CSS/password_reset.css' %}" rel="stylesheet" />
    </head>

    <body>
        <main>
            <div class="wrapper">
                <div class="title-text">
                    <div class="title">Correo Enviado</div>
                </div>
                <div class="form-container">
                    <div class="form-inner">
                        <p>Te hemos enviado un enlace para restablecer tu contraseña. Revisa tu bandeja de entrada.</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>