<!doctype html>
<html lang="en">
    {% load static %}

    <head>
        <title>Restablecer Contraseña</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Vínculo al nuevo CSS con ajustes -->
        <link href="{% static 'CSS/password_reset.css' %}" rel="stylesheet" />
    </head>

    <body>
        <main>
            <div class="wrapper">
                <div class="title">Restablecer Contraseña</div>
                <div class="form-container">
                    <form action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <input type="email" name="email" placeholder="Ingresa tu correo" required>
                        </div>
                        <div class="btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Enviar">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
