<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    {% load static %}
    <link href="{% static 'CSS/password_reset.css' %}" rel="stylesheet">
    <!-- FontAwesome for the eye icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link href="{% static 'CSS/password_reset_visible.css' %}" rel="stylesheet" />

</head>
<body>

    <div class="wrapper">
        <h2 class="title">Ingresa una nueva contraseña</h2>
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label for="new_password1">Nueva Contraseña</label>
                <input type="password" id="new_password1" name="new_password1" placeholder="Nueva Contraseña" required>
                <span class="toggle-password" onclick="togglePassword('new_password1')">
                    <i class="fa fa-eye"></i>
                </span>
                <!-- Mostrar errores para el campo new_password1 -->
                {% if form.new_password1.errors %}
                    <div class="error-message">
                        {% for error in form.new_password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="field">
                <label for="new_password2">Confirmar la nueva Contraseña</label>
                <input type="password" id="new_password2" name="new_password2" placeholder="Confirmar la nueva Contraseña" required>
                <span class="toggle-password" onclick="togglePassword('new_password2')">
                    <i class="fa fa-eye"></i>
                </span>
                <!-- Mostrar errores para el campo new_password2 -->
                {% if form.new_password2.errors %}
                    <div class="error-message">
                        {% for error in form.new_password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="btn">
                <input type="submit" value="Restablecer contraseña">
            </div>
        </form>
    </div>
    
    <!-- Script para alternar la visibilidad de la contraseña -->
        <script src="{% static 'JScript/eye_psswrd_reset.js' %}"></script>

</body>
</html>
